doctype html
html
  head
    title Error Occurred
    link(rel='stylesheet' type='text/css' href='../css/main.css')
  body
    .container
      h1 Something Went Wrong!
      p Please double check that your emails are separated by commas and that the email account used is valid. In addition check that the app code used to send the email is correct. If this continues to persist reach out to your current VP of programming. 
      p - Xaipe
      button#backButton(onclick="window.location.href='/'") Go Back